header{
    background-color: #E4F9F5;
   
    text-align: center;
    box-sizing: border-box;
  padding: 30px;
  width: 100%;
    
}


.foot{
    background-color: #66BFBF;   
    text-align: center;
    box-sizing: border-box;
  padding: 30px;
  width: 100%;
color:white;
    
    
}

h1{
    font-family: 'Sacramento';
    color: #66BFBF;
    text-align: center;
}
h2{
    color: #66BFBF;
    text-align: center;
}
h3{
    color: #11999E;
    text-align: center;
}

h2,h3,h4,h5{
    font-family: 'Montserrat';
    text-align: center;
   
}
.mountain{
    margin-bottom: 0px;
}
p{
    text-align: center;
}

.cloud1{    
    margin-right: 300px;
    margin-top: 40px;
}
.cloud2{
    margin-left:250px;
    margin-bottom: 300px;
}
.developer{
 
 height: 100px;
 padding: 0;
 margin: 0;
  }
.developer2{
  
   padding: 0;
   height: 100px;
   margin: 0;
  }
.main{
    width: 600px;
    margin: 0 auto;
}
.text-and-pic{
    display: flex;
}


.wrapper {
    text-align: center;
}

.button {
    background-color: #11cdd4;
    color:white;
    text-decoration-color: white;
    top: 50%;
}
.button:hover {background-color: #30e3cb}